@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <input name="telefone" placeholder="(11)987565-4321" type="text" />
            <br />
            <label>Selecione o tipo de profissional</label><br />
            <input type="radio" id="empresario" name="tipo_pessoa" value="Empresa">
            <label for="empresario">Empresário</label><br>
            <input type="radio" id="funcionario" name="tipo_pessoa" value="Funcionario">
            <label for="funcionario">Funcionário</label><br>
           <br />
                @if(Model.empresas != null)
                {
                    <select name="empresaId">
                        <option value="">Selecione sua empresa</option>
                    @foreach(var empresa in Model.empresas)
                    {
                        <option value="@empresa.Id">@empresa.razaoSocial</option>
                    }
                    </select>
                }
                <a asp-page="/Empresas">Cadastre sua empresa</a>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
