@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Leia mais sobre o projeto <a href="https://github.com/RenatoOlmedo/WorkSchedule">clicando aqui</a></p>
</div>
