@page
@model WorkSchedule.Pages.Cargo.CreateCargoModel

@{
    ViewData["Title"] = "CreateCargo";
}

<h1>CreateCargo</h1>

<h4>Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cargo.nomeCargo" class="control-label">Cargo</label>
                <input asp-for="cargo.nomeCargo" class="form-control" />
                <span asp-validation-for="cargo.nomeCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo.tipoEscala" class="control-label">Tipo de escala</label>
                <input asp-for="cargo.tipoEscala" class="form-control" />
                <span asp-validation-for="cargo.tipoEscala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo.Trabalho" class="control-label">Horas de trabalho</label>
                <input asp-for="cargo.Trabalho" class="form-control" />
                <span asp-validation-for="cargo.Trabalho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cargo.Descanso" class="control-label">Horas de descanso</label>
                <input asp-for="cargo.Descanso" class="form-control" />
                <span asp-validation-for="cargo.Descanso" class="text-danger"></span>
            </div>
            @if(Model.empresas != null && Model.admin)
                {
                    <select name="empresaId">
                        <option value="">Selecione a empresa do cargo criado</option>
                    @foreach(var empresa in Model.empresas)
                    {
                        <option value="@empresa.Id">@empresa.razaoSocial</option>
                    }
                    </select>
                }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="cargo.status" value="1" class="form-control" />
        </form>
    </div>
</div>

<div>
    <a asp-page="listCargo">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
