@page
@model WorkSchedule.Pages.Cargo.updateCargoModel

@{
    ViewData["Title"] = "Atualizar informações";
}

<h4>Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cargo.id" />
            <div class="form-group">
                <label asp-for="Cargo.nomeCargo" class="control-label">Nome do cargo</label>
                <input asp-for="Cargo.nomeCargo" class="form-control" />
                <span asp-validation-for="Cargo.nomeCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.tipoEscala" class="control-label">Tipo de escala</label>
                <input asp-for="Cargo.tipoEscala" class="form-control" />
                <span asp-validation-for="Cargo.tipoEscala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.Trabalho" class="control-label">Horas de trabalho</label>
                <input asp-for="Cargo.Trabalho" class="form-control" />
                <span asp-validation-for="Cargo.Trabalho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.Descanso" class="control-label">Horas de descanso</label>
                <input asp-for="Cargo.Descanso" class="form-control" />
                <span asp-validation-for="Cargo.Descanso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./listCargo">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
